body {
  background-color: #282237;
  color: #c0bfbc;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

a {
  color: #70A9A1; }
  a:visited {
    color: #40798C; }

.center {
  text-align: center; }
  .center > img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

.container {
  display: flex;
  flex-flow: column wrap; }

@media screen and (min-width: 1025px) {
  .container {
    margin-left: 20%;
    margin-right: 20%; } }

@media screen and (max-width: 1024px) {
  .container {
    margin-left: 5%;
    margin-right: 5%; } }

h1 {
  font-weight: inherit; }

h2 {
  font-weight: inherit; }

h3 {
  font-weight: inherit; }

h4 {
  font-weight: inherit; }

h5 {
  font-weight: inherit; }

h6 {
  font-weight: inherit; }

table {
  border: 1px solid #c0bfbc;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto; }

thead {
  border: 1px solid #c0bfbc; }

th {
  border: 1px solid #c0bfbc; }

td, th {
  padding-left: .5em;
  padding-right: .5em;
  padding-top: .1em;
  padding-bottom: .1em; }

td {
  text-align: left;
  border-top: 1px solid #c0bfbc; }

caption {
  caption-side: bottom; }

.content-panel, #scrying-results {
  padding: 0.8em;
  background-color: #40385b;
  background: -moz-linear-gradient(45deg, transparent 1em, #40385b 1em), -moz-linear-gradient(135deg, transparent 1em, #40385b 1em), -moz-linear-gradient(225deg, transparent 1em, #40385b 1em), -moz-linear-gradient(315deg, transparent 1em, #40385b 1em);
  background: -o-linear-gradient(45deg, transparent 1em, #40385b 1em), -o-linear-gradient(135deg, transparent 1em, #40385b 1em), -o-linear-gradient(225deg, transparent 1em, #40385b 1em), -o-linear-gradient(315deg, transparent 1em, #40385b 1em);
  background: -webkit-linear-gradient(45deg, transparent 1em, #40385b 1em), -webkit-linear-gradient(135deg, transparent 1em, #40385b 1em), -webkit-linear-gradient(225deg, transparent 1em, #40385b 1em), -webkit-linear-gradient(315deg, transparent 1em, #40385b 1em);
  background-position: bottom left, bottom right, top right, top left;
  -moz-background-size: 50% 50%;
  -webkit-background-size: 50% 50%;
  background-size: 50% 50%;
  background-repeat: no-repeat; }

#scrying-results {
  font-family: "CMUTypewriterTextRegular";
  font-weight: normal;
  font-style: normal; }
