body {
  background-color: #282237;
  color: #c0bfbc;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1px;
  font-weight: 300;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
}

.container {
    text-align: center;
}

@media screen and (min-width: 700px) {
  .container {
    margin-left: 20%;
    margin-right: 20%;
  }
}

.container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  font-weight: inherit;
}

h2 {
  font-weight: inherit;
}

h3 {
  font-weight: inherit;
}

h4 {
  font-weight: inherit;
}

h5 {
  font-weight: inherit;
}

h6 {
  font-weight: inherit;
}

table {
  border: 1px solid #aaa;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
}

thead {
  border: 1px solid #aaa;
}

th {
  border: 1px solid #aaa;
}

